
<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">

        <div class="row no-gutters login_section">
            <div class="col-lg-6 text-white showcase-img" style=""></div>
            <div class="col-lg-6 my-auto showcase-text">
                <div class="card rounded-0">
                    <div class="card-header">
                        <h3 class="mb-0">Login</h3>
                    </div>
                    <div class="card-body">
                        <form action="/login" class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control form-control-lg rounded-0" name="username" id="username" required="">
                                <div class="invalid-feedback">Oops, you missed this one.</div>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" name="password" autocomplete="new-password">
                                <div class="invalid-feedback">Enter your password too!</div>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
                        </form>
                    </div>
                    <!--/card-block-->
                </div>
            </div>
        </div>
    </div>
</section>