<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{title}}</a>
        <div class="ml-auto">
            {{#if currentUser.local}}
                <a class="btn btn-primary" href="#">Welcome {{currentUser.local.username}}</a>
                <a class="btn btn-primary" href="/logout">Logout</a>
            {{else}}
                <a class="btn btn-primary" href="/login">Sign In</a>
                <a class="btn btn-primary" href="/signup">Sign Up</a>
            {{/if}}
        </div>
    </div>
</nav>